*{
    box-sizing: border-box;
}

html, body, #map{
    margin: 0;
    width: 100%;
    height: 100%;
}

.part {
  /*fill: transparent;*/
  fill-opacity:0.4;
  stroke: black;
}

.part.a0{
  fill: green;
}
.part.a1{
  fill: yellow;
}
.part.a2{
  fill: orange;
}
.part.a3{
  fill: red;
}
